<h1>Log In Below:</h1>
<form action="/sessions" method="post"><br>
    Email: <input id="email" type="text" name="email"><br>
    Password: <input id="password" type="text" name="password"><br>
    <input id="sumbit" type="submit" value="Log In">
</form>
